body{
    background-color: rgb(210, 144, 223);
}
h1{
     
 right: 10px;
 position: fixed;
  top: 0px;
  right: 15;
  width: 550px;
  height: 80px;
 
}

table, th, td {
    border: 1px solid whitesmoke;
 } 
 input[type=text], select {
    width: 1%;
    padding: 12px 20px;
    margin: 18px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#loading{
    width:10%;
    height:10%;
}
#tick{
    width:10%;
    width:10%;
}